    <ul class="c-sidebar-nav">
      <li class="c-sidebar-nav-title sidebar-nav-title">User</li>
      <li class="c-sidebar-nav-item sidebar-nav-item">
        <button type="button" class="btn btn-ghost-primary auth-btn" routerLink="/sign-up">Sign up</button>
      </li>
      <li class="c-sidebar-nav-item sidebar-nav-item">
        <button type="button" class="btn btn-ghost-success auth-btn" routerLink="/sign-in">Sign in</button>
      </li>
      <li class="c-sidebar-nav-item nav-dropdown">
        <a class="c-sidebar-nav-link nav-dropdown-toggle" href="#">
          <i class="c-sidebar-nav-icon cil-puzzle"></i> Nav dropdown
        </a>
        <ul class="c-sidebar-nav-dropdown-items">
          <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="#">
              <i class="c-sidebar-nav-icon cil-puzzle"></i> Nav dropdown item
            </a>
          </li>
          <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="#">
              <i class="c-sidebar-nav-icon cil-puzzle"></i> Nav dropdown item
            </a>
          </li>
        </ul>
      </li>
      <li class="c-sidebar-nav-item mt-auto">
        <a class="c-sidebar-nav-link c-sidebar-nav-link-success" href="https://coreui.io">
          <i class="c-sidebar-nav-icon cil-cloud-download"></i> Download CoreUI</a>
      </li>
      <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link c-sidebar-nav-link-danger" href="https://coreui.io/pro/">
          <i class="c-sidebar-nav-icon cil-layers"></i> Try CoreUI
          <strong>PRO</strong>
        </a>
      </li>
    </ul>
    <button class="c-sidebar-minimizer c-brand-minimizer" type="button"></button>
