.signup-form-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .signup-form{
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        align-items: center;

        .signup-form-control{
            width: 100%;
        }
        .signup-btn{
            width: 250px;
            font-size: 16px;;
        }
        .user-select{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}